__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

data/
settings.json
momonitor.log
momonitor.*.log
chat_history.db*
traffic.db*

momoitor/web/bg/

dist/
build/

.opencode/
node_modules/
.vscode/
.idea/
.agents
.claude

.pytest_cache

.VSCodeCounter